.wrapper {
  width: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
}
.header .text {
  font-size: 1.4rem;
  color: var(--color-text-secondary);
}

.header .btn {
  border: none;
  background-color: var(--color-bg);
  width: 4rem;
  height: 4rem;
  border-radius: 1rem;
  font-size: 1.4rem;
}
.header .btn:hover {
  background-color: var(--color-hover);
}

.wrapper .list {
  position: relative;
  padding-inline-start: 4rem;
}
.list::before {
  content: "";
  position: absolute;
  left: 2rem;
  top: 2rem;
  height: calc(100% - 4rem);
  margin-right: 5px;
  width: 5px;
  background-color: var(--color-bg);
  border: 1px solid var(--color-border-dark);
  border-right: 0;
}
